@model RentersLife.Core.ViewModels.ManagerProfileViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Manager Profile</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.HiddenFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Account</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Property Name</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyName)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Description</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertyDescription)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Line1</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line1)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Line2</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line2)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">City</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">State</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Postal Code</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Country</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Telephone</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Fax</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Price</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Bedrooms</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Bathrooms</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
